SQLAlchemy==1.4.32
SQLAlchemy-Utils==0.38.2
pymysql==1.0.2
pydantic[dotenv]==1.9.0
fastapi==0.75.0
py-eureka-client==0.10.5
pika==1.2.0
pandas==1.4.1
python-multipart
uvicorn~=0.17.6
amqp_rpc_client~=1.1.1
