SQLAlchemy~=1.4.36
SQLAlchemy-Utils~=0.38.2
psycopg2-binary~=2.9.3
pydantic~=1.9.0
python-dotenv~=0.20.0
FastAPI~=0.78.0
py-eureka-client~=0.10.5
python-multipart
uvicorn~=0.17.6
amqp-rpc-client~=1.2.2
pytz~=2022.1
redis~=4.3.1
ujson
starlette
tzlocal
